@font-face {
  font-family: 'Titillium';
  src: url('../assets/fonts/titillium/titilliumweb-regular-webfont.eot');
  src: url('../assets/fonts/titillium/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/titillium/titilliumweb-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/titillium/titilliumweb-regular-webfont.woff') format('woff'),
  url('../assets/fonts/titillium/titilliumweb-regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/titillium/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
